/* ini adalah komentar */
/* belajar mengenal text styling */

h1 {
    font-size: 150px;
    color: skyblue; /* nama warna */
    text-decoration: line-through;
    text-transform: lowercase;
}

h2 {
    font-size: 100px;
    color: #4068b3; /* hexadecimal */
    text-decoration: underline;
    letter-spacing: 10px;
}

p {
    color: rgb(158, 163, 226); /* rgb */
    text-align: justify;
    text-indent: 100px;
    text-transform: capitalize;
    word-spacing: 10px;
}